<h1>Friend</h1>
<h2 [attr.align]="alignCenter">my friend lists</h2>
<table [attr.align]="alignCenter">
  <tr>
    <th>First-name</th>
    <th>Last-name</th>
    <th>Nick-name</th>
    <th>GitHub Pages</th>
  </tr>
  <tr>
    <td>Taratip</td>
    <td>Cheawsinrapatham</td>
    <td>Tong</td>
    <td>
      <nav>
        <a
          class="round"
          href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-RiamTonG/"
          >Lab02</a
        >
        <a
          class="round"
          href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-RiamTonG/"
          >Lab03</a
        >
        <a
          class="round"
          href="https://camt-mmit.github.io/2023-01-954447-001-lab-04-introduction-to-angular-RiamTonG/"
          >Lab04</a
        >
      </nav>
    </td>
  </tr>
  <tr>
    <td>Kritsada</td>
    <td>Intaprom</td>
    <td>Ice</td>
    <td>
      <nav>
        <a
          class="round"
          href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-KR1T5ADA/"
          >Lab02</a
        >
        <a
          class="round"
          href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-KR1T5ADA/"
          >Lab03</a
        >
        <a
          class="round"
          href="https://camt-mmit.github.io/2023-01-954447-001-lab-04-introduction-to-angular-KR1T5ADA/"
          >Lab04</a
        >
      </nav>
    </td>
  </tr>
</table>
