table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
a.round {
  color: blue;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 7px;
  padding: 4px 6px 4px 6px;
  margin-right: 2ch;
}
td,
th {
  height: 3ch;
  text-align: center;
}
