<h1>Status</h1>
<div class="status-container">
  <b class="status-name">Current Time</b>
  <span>{{ currentTime }}</span>
</div>
<br />
<div class="status-container">
  <b class="status-name">User Agent</b>
  <span>{{ userAgent }}</span>
</div>
<br />
<div class="status-container">
  <b class="status-name">Langueges</b>
  <span>{{ languages }}</span>
</div>
<br />
<div class="status-container">
  <b class="status-name">Is Cookies Enagled?</b>
  <span>{{ cookies }}</span>
</div>
<br />
<div class="status-container">
  <b class="status-name">Logical Processors</b>
  <span>{{ logical }}</span>
</div>
<br />
<div class="status-container">
  <b class="status-name">Max Touch Points</b>
  <span>{{ touches }}</span>
</div>
<br />
