<div class="profile-container">
  <h1>Profile</h1>
  <h2>Basic infomatioin</h2>
  <ul>
    <li><b>Name: </b>Kongphop Inyeo</li>
    <li>
      <b>Gender: </b>
      Male
    </li>
    <li>
      <b>Age: </b>
      21
    </li>
  </ul>
  <h2>Autobiography</h2>
  <p>My name is Kongphop Inyeo. My friends call me, Ja. I stuI am studing Client-side</p>
  <h2>GitHub Pages</h2>
  <nav>
    <a
      class="round"
      href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-JajaNaKrub/"
      >Lab02</a
    >
    <a
      class="round"
      href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-JajaNaKrub/"
      >Lab03</a
    >
    <a
      class="round"
      href="https://github.com/camt-mmit/2023-01-954447-001-lab-04-introduction-to-angular-JajaNaKrub"
      >Lab04</a
    >
  </nav>
</div>
